extends layout.pug

block hero
  section.main-hero.is-dark.is-bold
    .hero-body
      .container
        h1.title Scalar Movies App
        h2.subtitle Find your favourites movies and rate them.

block content
  .container(style="flex: 1; padding: 50px 0; margin: 0 auto; width: 80%;")
    h1.title Movie Details
    .columns.is-multiline
      .column.is-half
        .card
          .card-image
            figure.image(style="max-height: 820px")
              img(src=movie.image_url style="height: 100%; object-fit: cover")
      .column.is-half.is-flex(style="flex-direction: column; justify-content: space-between;")
        div.movie-content
          h2.title.is-size-5= `${movie.title} (${movie.year})`
          p.is-size-6= movie.plot
          br
          strong Rate: 
          span.subtitle.is-size-6= movie.rated
          br
          strong Rating: 
          span.my-1= `${movie.rating}/5`
          span.icon 
            i.fas.fa-star
          br
          strong Genre: 
          span.my-1= `${movie.genre}`
          br
          strong Director: 
          span.my-1= `${movie.director}`
          br
          strong Release Date: 
          span.my-1= `${movie.released_on}`
        if user
          .buttons.mt-3.is-flex-spaced(style="position: relative; bottom: 0;")
            a(href=`/movies/${movie._id}/edit`).button.is-halfwidth.is-secondary
              strong Edit
            .button.is-halfwidth.is-danger
              strong Delete